.styled_cursor {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px - 18px;
  background: #F9DBBB;
  border-radius: 50%;
  mix-blend-mode: difference;
  pointer-events: none;
  border: 1px solid #4E6E81;
  position: fixed;
  left: 0;
  top: 0;

}