
.toggleAnimationOn {
  animation: 1s ease-in-out;
  font-family: 'Inter' sans-serif;
  font-weight: 200;
  font-size: 1.15rem;
  color: #2E3840;
  opacity: 0.3;
  transition-delay: 
    scale 800ms 1s;
  transition: 
    opacity .75s;

  transition-property: all, opacity, transform, translate;
  transition-duration: 800ms 800ms 800ms 800ms;

  // transform: scale(1, .05);
  transform: scale(.85, .95);
  overflow: hidden;
}

.toggleAnimationOff {
  animation: 1.5s ease-in-out;

  font-family: 'Inter' sans-serif;
  font-weight: 200;
  font-size: 1.15rem;
  opacity: 1;
  transition-property: all, opacity, transform, translate;
  transition-duration: 800ms 800ms 800ms 800ms;
  transition: ease-in-out;
  color: #2E3840;
  overflow: hidden;
}

.divider {
  font-size: 11px !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  display: flex;
  align-items: center;
}

#divider {
  font-size: 11px !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  display: flex;
  align-items: center;
}

#home {
  
  transition: 
    opacity .95s ease-in-out;

  transition-property: all, opacity, transform, translate;
  transition-duration: 800ms 800ms 800ms 800ms;

}
#about {
  transition: 
    opacity .95s ease-in-out;

    transition-property: all, opacity, transform, translate;
  transition-duration: 800ms 800ms 800ms 800ms;

}
#portfolio {
    transition: 
    opacity .95s ease-in-out;

    transition-property: all, opacity, transform, translate;
  transition-duration: 800ms 800ms 800ms 800ms;

}
#contact {
  transition: 
    opacity .95s ease-in-out;

    transition-property: all, opacity, transform, translate;
  transition-duration: 800ms 800ms 800ms 800ms;

}