$baseFont: 'Syne' sans-serif;
$secondFont: 'Inter' sans-serif;

$fontPetit: 'Petit Formal Script' cursive;
$fontMajor: 'Major Mono Display' monospace;
$fontBodoni: 'Bodoni Moda' serif;


$baseGrey: #4E6E81;
$baseBeige: #F9DBBB;
$baseRed: #FF0303;
$baseCharcoal: #2E3840;
$pageBackground: #000000;
